<template name="slideShow">
	<div class="container">
                <div class="col-md-12 margin-bottom">
                    <div class="col-md-7">
                        <!-- lightSlider -->
                            <section class="install">               
                                <div class="demo hasActive">
                                    <ul id="responsive" class="gallery content-slider list-unstyled clearfix cS-hidden">
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>
                                        <li>
                                            <img src="/images/image1.png" class="img-responsive" alt="">
                                        </li>                                       
                                    </ul>
                                </div>                              
                            </section>
                        <!-- end lightSlider -->    
                    </div>
                    <div class="col-md-5">
                        <h1>BEST PERFUME OF THE MONTH</h1>
                        <!-- lightSlider -->
                            <section class="install">               
                                <div class="demo hasActive">
                                    <ul id="responsive1" class="gallery content-slider list-unstyled clearfix cS-hidden">
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>
                                        <li>
                                            <img src="/images/image2.png" class="img-responsive" alt="" height="200">
                                        </li>                                       
                                    </ul>
                                </div>                              
                            </section>
                        <!-- end lightSlider -->
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            	
			var site = $('#site');	
			$(document).ready(function() {
				window.prettyPrint && prettyPrint();
				$('.windowWidh').text($(window).width());
				$('#responsive').lightSlider({
					item:1,
					slideMove:2,
					loop:true,
					cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
					speed:600,
					auto:true,
					responsive : [
						{
							breakpoint:800,
							settings: {
								item:2,
								slideMove:1,
								slideMargin:6,
							  }
						},
						{
							breakpoint:480,
							settings: {
								item:1,
								slideMove:1
							  }
						}
					],
					onSliderLoad: function() {
						$('#responsive').removeClass('cS-hidden');
					} 
				});  
				$('#responsive1').lightSlider({
					item:1,
					slideMove:2,
					loop:true,
					cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
					speed:2000,
					auto:true,
					responsive : [
						{
							breakpoint:800,
							settings: {
								item:2,
								slideMove:1,
								slideMargin:6,
							  }
						},
						{
							breakpoint:480,
							settings: {
								item:1,
								slideMove:1
							  }
						}
					],
					onSliderLoad: function() {
						$('#responsive1').removeClass('cS-hidden');
					} 
				});
				
			});
            </script>
</template>