<template name="review">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Hello world</h1>
					{{#each getAllReview}}
				  		
				  		<div class="col-md-4">
				  		{{#each getProduct}}
				  			<div class="col-lg-12">{{title}}</div>
				  		{{/each}}
				  			<div class="review_quote">{{text}}</div>
				  			<span>
				  				{{#if currentUser}}
					  			<a href="#" id="profile" class="pull-right">{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</a>
						  		{{/if}}
				  			</span><br>
				  		</div>
				  						  		
				  	
					{{/each}}
			</div>
		</div>
	</div>
</template>