<template name="productdetails">
    <div class="container con-body">
        <div class="row">
            <h2>Cool Water Sea Rose Coral Reef Edition</h2>
            <div class="col-lg-8">
                <div class="span5">
                    <img src="/images/image.png" width="100%" class="img-polaroid" alt="Lenovo Desktop">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="span7">
                    <h2>Lenovo Desktop</h2>
                    <h4 class="muted">Thinner, Lighter, Faster. All in One Desktop</h4>
                    <p>Lorem ipsum dolor sit amet consectetur elit...
                        Lorem ipsum dolor sit amet consectetur elit...
                        Lorem ipsum dolor sit amet consectetur elit...
                        Lorem ipsum dolor sit amet consectetur elit...
                        Lorem ipsum dolor sit amet consectetur elit...
                    </p>
                    <hr>
                    <h3>Price - <del class="text-error">$699</del> $499</h3>
                    <p class="muted">Inclusive of all taxes. Free home delivery.</p>
                    <br>
                    <p><a href="#" class="btn btn-success btn-large">Buy Online Now</a></p>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control input-sm" id="comment" placeholder="comment..." required rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" id="submit" class="btn btn-primary">Add Review</button>
                </div>
            </div>
        </div><br/><br/><br/>
        <div class="clearfix"></div>
        <div class="row">
            <h2>Review</h2>
              <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.</div>
                    </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.</div>
                    </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.</div>
                    </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.</div>
                    </div>
              </div>
        </div>
    </div>
</template>
