<template name="productdetails">
    <div class="container con-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="span5">
                    <img src="/uploads/{{getImage}}" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-4">
                    <div class="span7">
                        <h2>Name: {{title}}</h2>
                        <h4 class="muted">{{website}}</h4>
                        <h4>{{category}}</h4>
                        <p>{{description}}</p>
                        <hr>
                        <h3>Price - <del class="text-error">$699</del> $499</h3>
                        <p class="muted">Inclusive of all taxes. Free home delivery.</p>
                        <br>
                        <p><a href="#" class="btn btn-success btn-large">Buy Online Now</a></p>
                    </div>
                    <div class="form-group">
                        <textarea type="text" id="comment" class="form-control input-sm" placeholder="Text" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                    <button type="button" class="btn btn-primary" id="submit">Add Review</button>
                    </div>
                </div>
        </div><br/><br/><br/>
        <div class="clearfix"></div>
        <div class="row">
            <h2>Comment</h2>
                <div class="col-sm-12"><br>
                      {{#each comments}}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel Heading</div>
                            <div class="panel-body">{{text}}</div>
                        </div>
                        </div>
                      {{/each}}
                </div>
        </div>
         <div class="row">
            <h2>Review</h2>
               {{#each getReview}}
                      <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span>{{getUserReview userId}}</span> 
                                    <span style="float:right;">{{date}}</span>
                                </div>
                                <div class="panel-body">
                                    <h5>{{text}}</h5>
                                </div>
                            </div>
                      </div>
                {{/each}}
        </div>
    </div>
</template>
