<template name="details">
	{{> leftside}}
	<div class="main-content">
		<div class="col-md-8">
			<div class="content-a">
			   <h1 class="margin-bottom h1-bold">{{product_name}}</h1>
			   <img src="{{image}}" class="img-responsive margin-bottom" alt="" width="100%">
			</div>
			<div class="content">
				<div class="wrapper-fragrand">
					<div class="col-md-7">
					  <div class="wrapper-in">
					     <h1 class="h1-bold">PROFESSIONAL CRITICS</h1>
					     <div class="col-md-5">
					       <div class="h1"><i class="fa fa-circle fa-2x circle-color color-green"></i> <span class="lg-span">98%</span>
					        </div>
					     </div>
					     <div class="col-md-7">
					     	<div>Average Rating: 8.2/10 <br> Reviews Counted: 327</div>
					     </div>
					     <div class="clear-fix"></div>
					     <div class="space-top-fragrand color-a"> Critics Consensus : About Incarnata anatole Lebreton</div>
					  </div>
					</div>
                    <div class="col-md-5 border-left">
                        <div class="wrapper-in">
                            <h1 class="h1-bold">USER CRITICS</h1>
                            <div class="h1">
                                <i class="fa fa-circle fa-2x circle-color color-green"></i> <span class="lg-span">92%</span>
                            </div>
                            <div class="space-top-fragrand"> Average Rating: 8.2/10 
                                <br> Reviews Counted: {{comments.length}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="content">
			   <h1 class="margin-bottom h1-bold">ADD YOUR RATING </h1>
			   <div class="col-md-6">
			   	 <div class="h1"><i class="fa fa-circle fa-5x circle-color color-grey"></i> 
				  </div>
			   </div>
			   <div class="col-md-6">
			   	<div class="h1 space-top-star" id="star">
				   	<i id="star1" value="1" class="fa fa-star-o fa-3x circle-color color-yellow"></i> 
				   	<i id="star2" value="2" class="fa fa-star-o fa-3x circle-color color-yellow"></i> 
				   	<i id="star3" value="3" class="fa fa-star-o fa-3x circle-color color-yellow"></i> 
				   	<i id="star4" value="4" class="fa fa-star-o fa-3x circle-color color-yellow"></i>
				   	<i id="star5" value="5" class="fa fa-star-o fa-3x circle-color color-yellow"></i>  
				</div>
			   </div>
			    <div class="form-group">
				  <textarea class="form-control-fragrand" rows="4" id="comment" placeholder="Add a review (optionnal)"></textarea>
				</div>
				<div class="pull-right">
				  <button type="button" class="btn btn-secondary" id="add-comment">SEND</button>	
				</div>
			</div>
			<div class="content">
			   <h1 class="margin-bottom h1-bold">MORE INFOS</h1>
			   <h3 class="space-nothing">Product explication</h3>
			</div>
			<div class="content-a">
			   <h1 class="margin-bottom h1-bold">PROFESSIONAL CRITICS : INCARNATA D’ANATOLE LEBRETO .......</h1>
			<div class="row space-top-fragrand">
			    {{#each getReview _id}}
					<div class="col-md-6">
					<!-- show comment -->
						<div class="show-comment"> 
                       
							<p class="text-comment">{{text}}</p>
                            <p>{{date}}</p> 	
						</div>
						<!-- end show comment -->
						<div style="float:left">
							<img src="images/cycle.png" class="img-cycle responsive">
						</div>
						<div style="float:left">
							<p class="text-name">{{getUserComment userId}} </p>
							<span class="color-text"> Company</span>
						</div>
					</div> 
				{{/each}}
			</div>
            <div class="content">
                <h1 class="margin-bottom h1-bold">MORE INFOS</h1>
                <h3 class="space-nothing">Product explication</h3>
            </div>
            <h2 class="text-fra"><a href="/viewAllReview/{{_id}}">View All Professional Critics</a></h2>
        </div><!--end content1-->
        <div class="content-a">
               <h1 class="margin-bottom h1-bold">PUSER CRITICS : INCARNATA D’ANATOLE LEBRETO...</h1>
            <div class="row space-top-fragrand">
                {{#each getComment comments}}
                    <div class="col-md-6">
                    <!-- show comment -->
                        <div class="show-comment"> 
                            <p class="text-comment">{{text}}</p>    
                            <p>{{date}}</p> 
                        
                        <!-- end show comment -->
	                        <div style="float:left">
	                            <img src="/uploads/{{getprofile userId}}" style="width:50px;height:50px">
	                        </div>
	                        <div style="float:left">
	                            <p class="text-name">{{getUserComment userId}} </p>
	                            <span class="color-text"> Company</span>
	                        </div>
                        </div>
                    </div> 
                {{/each}}
            </div>
            <div class="content">
                <h1 class="margin-bottom h1-bold">MORE INFOS</h1>
                <h3 class="space-nothing">Product explication</h3>
            </div>
            <h2 class="text-fra"><a href="/viewAllComment/{{_id}}">View All User Critics</a></h2>
        </div><!--end content2-->

        <div class="content-a">
            <h1 class="margin-bottom h1-bold">RELATED</h1>
            <div class="row space-row">
                {{#each getProductRelated}}
                    <div class="col-md-4 row"> 
                        <a href="/details/{{_id}}">
                            <img src="{{image}}" class="img-responsive center-block" width="90%" height="150">
                        </a>
                        <h3 class="text-center space-top">{{product_name}}</h3> 
                        <h3 class="text-center price"> 97 % </h3>
                    </div>
                {{/each}}
            </div>  
        </div><!--end content-->
        <br/>
        <br/>
        <br/>
        <br/>
        </div>
     </div>
    
</template>