<template name="homefront">
{{#if currentUser}}
	<div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <div class="row text-center">
            {{#each getAllproduct}}
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <a href="/productdetails/{{_id}}">
                        <img src="/uploads/{{getImage img}}" height="100" alt="Place image"></a>
                        <div class="caption">
                            <h3>{{title}}</h3>
                            <p>{{description}}</p>
                            <p>
                                {{getFavorite}}
                                <a href="#" id="like_{{_id}}" class="btn btn-primary like">Like</a>
                                <a href="#" id="unlike_{{_id}}" class="btn btn-primary unlike hidden">Unlike</a> 
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
  {{else}}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header" style="color:#ddd">
                        !!!Page Not Found No Permission
                    </h2>
                    <h2 class="page-header" style="color:#ddd">
                        !!!Page Not Found No Permission
                    </h2>
                    <h2 class="page-header" style="color:#ddd">
                        !!!Page Not Found No Permission
                    </h2>
                </div>
            </div>
        </div>
    {{/if}}
</template>