<template name="listdatabycat">
    <section id="special-layout">
        <div id="page-la-bases">
            <div class="well-box">
                <div class="row">
                    {{#each getDatalist}}
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 left-box row-pad">
                            <p class="blue">{{name}}</p>
                            <a href="/projectdetails/{{_id}}" title="Startup One Page">
                                <img src="{{image}}" class="img-responsive center-block img-title" alt="Startup One Page" title="Startup One Page" width="266"/>
                            </a>
                            <!-- <p class="black-small">{{shortIt description}}</p>
                            <p>Location: {{location}}</p>
                            <p>Price: <b>${{goal}}</b></p>
                            <p>End Date: <b>{{datemax}}</b></p> -->
                            {{#each getcat}}
                                <p>Category: <b>{{name}}</b></p>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</template>