<template name="adminmenu">
	<div class="col-md-3">
		<h1>Admin Menu</h1>
		<ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
		    <li class="active"><a href="#"><span class="glyphicon glyphicon-off"></span>  Overview</a></li>
		    <li><a href="/admin/dashboard"><span class="glyphicon glyphicon-user"></span> Dashboard</a></li>
		    <li><a href="/admin/view"><span class="glyphicon glyphicon-user"></span> All Compaign</a></li>
		    <li><a href="/admin/adddata"><span class="glyphicon glyphicon-lock"></span>  Add Compaign</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  All Message</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Add Message</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-comment"></span>  All Company</a></li>
		     <li><a href="/admin/adduser"><span class="glyphicon glyphicon-list"></span>  Add User</a></li>
		     <li><a href="/admin/listuser"><span class="glyphicon glyphicon-list"></span>  List User</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  All Influencer</a></li>
		    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Setting</a></li>
		</ul>
	</div>
</template>